<template lang="pug">
b-container.not-found(fluid).p-0
  b-container
    b-link(to="/"): Logo(height="50" fill="white").mt-5
    b-row(align-h="center")
      b-col(cols="12" md="10" lg="8" xl="6").my-5
        img.meme(src="@/assets/404.jpg").w-100
      b-col(cols="12")
        //- h3().float-left 页面不存在
        b-button(href="/" variant="light" size="lg") 返回首页
  
  
  
  //- b-row
  //-   b-col().py-5
  //-     h1 404 Not Found
  //-     h4 页面不存在
  //-     b-button(href="/" variant="dark") 返回首页
</template>

<script>
import Logo from '@/components/Logo.vue'

export default {
  name: 'NotFound',
  components: {
    Logo
  },
  mounted () {
    document.title = '404 - 页面不存在'
  }
}
</script>

<style>
.not-found {
  min-height: 100vh;
  background-color: black;
}

.meme {
  border-radius: 2em;
}
</style>
