<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>最毕设</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but zuibishe doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
      var _mtac = {};
      (function() {
          var mta = document.createElement("script");
          mta.src = "https://pingjs.qq.com/h5/stats.js?v2.0.4";
          mta.setAttribute("name", "MTAH5");
          mta.setAttribute("sid", "500659868");
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(mta, s);
      })();
      </script>
  </body>
</html>
