<template lang="pug">
b-container
  .row
    b-col(cols="12").my-5
      b-link(href="/"): Logo2(height="100")
  .row
    template(v-for="variant in buttonVariants")
      b-col(v-for="size in ['sm','','lg']" :key="`${variant}_${size}`" md="4").pb-2
        b-button(:size='size' :variant='variant') {{variant}} {{size}}
</template>

<script>
import Logo2 from '@/components/Logo2.vue'

export default {
  name: 'About',
  components: { Logo2 },
  data () {
    return {
      buttonVariants: [
        'primary', 'dark', 'secondary', 'success', 'warning', 'danger', 'link',
        'outline-primary', 'outline-dark', 'outline-secondary', 'outline-success', 'outline-warning', 'outline-danger'
      ]
    }
  }
}
</script>
