<template lang="pug">
b-container.article(fluid).p-0
  Header
  b-container(v-if="!error" :class="{isLoading}")
    b-row(v-if="!!articleData")
      b-col.main(cols="12" md="8" lg="6" offset-lg="1").py-4.py-md-5
        h2.title(align="start").mb-5.px-2.px-md-0 {{articleData.title}}
        div.body(v-html="articleData.content")
      b-col.side(cols="12" md="4" lg="3" offset-lg="1").py-5
        b-card.recommendations(
          v-for="(articles, name) of recommendations" :key="name"
          no-body :header="name"
        ).mb-4
          b-list-group(flush align="start")
            b-list-group-item(
              v-for="article in articles" :key="article.id"
              :to="{name: 'Article', params: {id: article.id}}"
            ) {{article.title}}
        b-card#social.social().mb-5.mb-md-0.border-0.sticky-top
          social-sharing(:title="articleData.title" inline-template)
            b-row(align-h="around")
              network.network(network="twitter"): v-icon(name="brands/twitter" color="#1da1f2" scale="2")
              network.network(network="facebook"): v-icon(name="brands/facebook" color="#3b5998" scale="2")
              network.network(network="weibo"): v-icon(name="brands/weibo" color="#e6172d" scale="2")
              b-button.network#wx(variant="link").p-0: v-icon(name="brands/weixin" color="#1aad19" scale="2")
          b-popover(target="wx" triggers="click blur" placement="bottomleft" container="social")
            qrcode.qrcode(:value="wxShareUrl()" :options="{margin: 1, scale: 5}")
            p(style="padding: 4px").mb-1.
              使用<strong style="color: #1aad19">&nbsp;微信&nbsp;</strong>扫描二维码<br>
              点击右上角的&nbsp;<strong style="color: white; backgroundColor: black; border-radius: 4px">&nbsp;&middot;&middot;&middot;&nbsp;</strong>&nbsp;按钮<br>
              分享给朋友或者朋友圈
        back-to-top
    b-row(v-else)
      vue-simple-spinner( message="正在加载" :speed="0.3" :spacing="10" :line-size="2" line-fg-color="black" ).mt-5.w-100
  b-alert(v-else show variant="light")
    v-icon(name="exclamation-circle" scale="4").my-3
    h4 加载失败
    p 服务器出现错误，正在紧急修复
</template>

<script>
import Header from '@/components/Header.vue'
import BackToTop from '@/components/BackToTop.vue'
import VueSimpleSpinner from 'vue-simple-spinner'

export default {
  name: 'Article',
  components: { Header, BackToTop, VueSimpleSpinner },
  data () {
    return {
      isLoading: true,
      articleData: null,
      error: null
    }
  },
  methods: {
    requestArticle () {
      this.$http.get(`/article/${this.$route.params.id}`)
        .then(response => {
          this.articleData = response.data
          this.articleData.content = decodeURIComponent(escape(atob(this.articleData.content)))
        })
        .catch(error => {
          this.$Progress.fail()
          this.error = error
        })
        .then((/* response */) => {
          this.isLoading = false
        })
    },
    wxShareUrl () {
      let url = this.articleData.wxurl || location.href
      return url
    }
  },
  mounted () {
    this.requestArticle()
  },
  updated () {
    document.title = `${this.articleData.title} - 最毕设`
  },
  computed: {
    recommendations () {
      return {
        '相关推荐': this.articleData.relateArticles,
        '热门文章': this.articleData.hotArticles
      }
    }
  },
  watch: {
    $route (/* to, from */) {
      this.requestArticle()
    },
    isLoading (loading) {
      loading ? this.$Progress.start() : this.$Progress.finish()
    }
  },
  beforeRouteUpdate (to, from,  next) {
    this.isLoading = true
    next()
  }
}
</script>

<style lang="scss" scoped>
.article {
  min-height: 100vh;
  .main {
    .title {
      font-size: 1.5em;
      line-height: 1.5;
      color: black;
    }
    .body {
      /deep/ img {
        max-width: 100% !important;
        height: auto;
      }
      /deep/ iframe {
        width: 100% !important;
        max-width: 100% !important;
        height: auto;
        min-height: 355px;
      }
    }
  }
  .side {
    .recommendations {
      background-color: unset;
      .active {
        background-color: unset;
        color: unset;
        border-color: transparent;
      }
    }
    .social {
      top: 5em;
      /deep/ .network {
        cursor: pointer;
      }

      /deep/ .popover {
        margin-top: 1em;
        border-color: $gray-200;
        box-shadow: 0 5px 20px -5px transparentize(black, 0.9);
        .arrow:before {
          border-bottom-color: $gray-200;
        }
        .qrcode {
          margin-top: 4px;
          max-width: 200px;
          max-height: 200px;
        }
      }
    }
  }
  .isLoading {
    opacity: 0.5;
  }
}




@include media-breakpoint-up(md) {
  .article {
    .main {
      .title {
        font-size: 2em;
      }
    }
  }
  .side {
    border-left: 1px solid $gray-200;

    .recommendations {
      border: unset;
      background-color: unset;
      
      font-size: 0.875rem;
      .card-header {
        background-color: unset;
        border: unset;
        color: black;
        font-weight: bold;
        font-size: 1.25em;
        text-align: left;
      }
      .list-group-item {
        border: unset;
      }
    }
  }
}
</style>

