<template lang="pug">
b-container.home(fluid).p-0
  Header
  Search(@handleSearch="doSearch")
  Collection(:articles="results" v-bind="{isLoading, hasNoMore, error}" @loadMoreHandler="doLoadNext" )
</template>

<script>
import Header from '@/components/Header.vue'
import Search from '@/components/Search.vue'
import Collection from '@/components/Collection.vue'

export default {
  name: 'Home',
  components: {
    Header, Search, Collection
  },
  data () {
    return {
      params: {
        kw: '',
        offset: 0,
        limit: 12,
        sort: ['createTime', 'updateTime', 'publicTime'][0],
        order: -1
      },
      results: [],
      isLoading: true,
      hasNoMore: false,
      error: null
    }
  },
  methods: {
    requestSearchResult (mode) {
      this.isLoading = true
      this.$http.get('/s', {params: this.params})
        .then(response => {

          let newResults = response.data.results

          switch (mode) {
          case 'replace':
            this.results = newResults
            break
          case 'append':
            this.results = this.results.concat(newResults)
            break
          }
          this.hasNoMore = (newResults.length != this.params.limit)
        })
        .catch(error => {
          this.$Progress.fail()
          this.error = error
        })
        .then((/* response */) => {
          this.isLoading = false
        })
    },
    doSearch (keyword) {
      this.params.kw = keyword
      this.params.offset = 0
      this.requestSearchResult('replace')
    },
    doLoadNext () {
      this.params.offset += this.params.limit
      this.requestSearchResult('append')
    }
  },
  computed: { },
  mounted () {
    this.requestSearchResult('replace')
  },
  watch: {
    isLoading (loading) {
      loading ? this.$Progress.start() : this.$Progress.finish()
    }
  }
}
</script>

<style scoped lang="scss">
.home {
  min-height:100vh
}
</style>

