<template lang="pug">
b-container.list(fluid).p-0
  b-container(:style="bgStyle" fluid).bg.p-0.mb-5: .dim.py-5
    b-link(to="/").d-inline-block.my-5: Logo(height="50" fill="white" )
    h1.name() {{listName}}
  Collection(:articles="results" v-bind="{isLoading, hasNoMore, error}" @loadMoreHandler="doLoadNext" )
</template>

<script>
import Collection from '@/components/Collection.vue'
import Logo from '@/components/Logo.vue'

export default {
  name: 'List',
  components: {
    Collection, Logo
  },
  props: {
    type: String
  },
  data () {
    return {
      params: {
        kw: '',
        offset: 0,
        limit: 12,
        sort: ['createTime', 'updateTime', 'publicTime'][2],
        order: -1,
        type: this.type
      },
      results: [],
      isLoading: true,
      hasNoMore: false,
      error: null,
      listName: this.$global.lists[this.type],
      bgStyle: {
        backgroundImage: `url('${require('../assets/list-bg.jpg')}')`
      }
    }
  },
  methods: {
    requestSearchResult (mode) {
      this.isLoading = true
      this.$http.get('/s', {params: this.params})
        .then(response => {

          let newResults = response.data.results

          switch (mode) {
          case 'replace':
            this.results = newResults
            break
          case 'append':
            this.results = this.results.concat(newResults)
            break
          }
          if (newResults.length != this.params.limit) {
            this.hasNoMore = true
          }
        })
        .catch(error => {
          this.$Progress.fail()
          this.error = error
        })
        .then((/* response */) => {
          this.isLoading = false
        })
    },
    doLoadNext () {
      this.params.offset += this.params.limit
      this.requestSearchResult('append')
    }
  },
  mounted () {
    this.requestSearchResult('replace')
    document.title = `${this.listName} - 最毕设`    
  },
  computed: {
  },
  watch: {
    isLoading (loading) {
      loading ? this.$Progress.start() : this.$Progress.finish()
    }
  }
}
</script>

<style scoped lang="scss">
.list {
  min-height:100vh;
  .bg {
    height: 20rem;
    background-position: center;
    background-size: cover;
    .dim {
      width: 100%;
      height: 100%;
      background-color: transparentize(black, 0.75);
      display: inline-block;
      position: relative;
      color: white;
      
      .name {
        font-weight: 100;
        font-size: 3em;
        letter-spacing: 0.2em;
        text-indent: 0.2em;
      }
    }
  }
}
</style>

