<template>
  <transition name="back-to-top-fade">
    <div class="vue-back-to-top" v-show="visible" @click="backToTop">
      <slot>
        <div class="default">
          <span> <v-icon name="arrow-up"></v-icon> </span>
        </div>
      </slot>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'BackToTop',
  data () {
    return {
      visible: false
    }
  },
  mounted () {
    window.smoothscroll = () => {
      let currentScroll = document.documentElement.scrollTop || document.body.scrollTop
      if (currentScroll > 0) {
        window.requestAnimationFrame(window.smoothscroll)
        window.scrollTo(0, Math.floor(currentScroll - (currentScroll / 5)))
      }
    }
    window.addEventListener('scroll', this.catchScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.catchScroll)
  },
  methods: {
    catchScroll () {
      this.visible = (window.pageYOffset > 600)
    },
    backToTop () {
      window.smoothscroll()
      this.$emit('scrolled')
    }
  }
}
</script>

<style lang="scss" scoped>
.back-to-top-fade-enter-active, .back-to-top-fade-leave-active {
  transition: opacity .25s;
}
.back-to-top-fade-enter, .back-to-top-fade-leave-to{
  opacity: 0;
}

.vue-back-to-top {
  top: calc(100% - 3rem);
  position: sticky;
  z-index: 1000;
  cursor: pointer;
  text-align: left;
  padding-left: 1em;

  .default {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 0px;
    display: inline-block;
    span {
      color:white;
    }
  }
}
</style>
