<template lang="pug">
b-container.collection(v-if="!error" :class="{static}").pb-3
  transition-group.card-deck(name="fade" mode="out-in" tag="div")
    b-card.fade-item(
      v-for="(item, index) in articles" :key="item.id"
      :img-src="item.face"
      :title="item.title"
      tag="router-link"
      :to="{name: 'Article', params: {id: item.id}}"
      align="left"
      title-tag="h6"
    ).my-sm-3
      small.timeago(:datetime="item.time" v-if="!static") {{ item.time | dateFormat }}
  b-row.loading-block(align-v="center" v-if="!static && !error")
    b-button.load-more(
      @click="$emit('loadMoreHandler')"
      v-show="!isLoading && !hasNoMore"
      block size="sm" variant="dark"
    ).w-50.mx-auto 加载更多
    vue-simple-spinner(
      v-show="isLoading"
      message="正在加载" :speed="0.3" :spacing="10" :line-size="2" line-fg-color="black"
    ).w-100
    p.no-more(v-if="!isLoading && hasNoMore").w-100.m-0.text-muted 没有更多了

b-alert(v-else show variant="light")
    v-icon(name="exclamation-circle" scale="4").my-3
    h4 加载失败
    p 服务器出现错误，正在紧急修复
</template>

<script>
import VueSimpleSpinner from 'vue-simple-spinner'

export default {
  name: 'Collection',
  components: { VueSimpleSpinner },
  props: {
    articles: {
      type: Array,
      required: true
    },
    static: {
      type: Boolean,
      default: false
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    hasNoMore: {
      type: Boolean,
      default: true
    },
    error: {
      type: Error,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>

@mixin card-grid($cards-per-line) {
  $max-container-width: map-merge( ( xs: 0 ), $container-max-widths );
  @each $name, $breakpoint in $grid-breakpoints {
    $number-of-cards: map-get($cards-per-line, $name);
    $gutter-total: $grid-gutter-width * $number-of-cards;
    $container-width: map-get($max-container-width, $name);
    $card-width: ($container-width - $gutter-total) / $number-of-cards;
    $img-height: $card-width * 9 / 16;
  
    @media (min-width: $breakpoint) {
      .card {
        flex: 0 0 calc(#{100/$number-of-cards}% - #{$grid-gutter-width});
        .card-img { height: $img-height; }
      }
      .load-more { max-width: $card-width; }
    }
  }
}

.collection {
  @include card-grid(( xs: 1, sm: 2, md: 3, lg: 4, xl: 4 ))
}

.collection.static {
  @include card-grid(( xs: 2, sm: 2, md: 3, lg: 5, xl: 5 ))
}



.card {
  border-radius: 0;
  line-height: 1;

  color: $gray-800;
  text-decoration: none;

  & { // Animations:
    transition: box-shadow 0.25s ease-out,
                transform  0.25s ease-out,
                opacity    0.25s linear;

    &:hover {
      box-shadow: 0 39.275px 70px -14.275px rgba(0, 0, 0, 0.1);
      transform: translateY(-3px);
    }
    &.fade-enter, &.fade-leave-to {
      opacity: 0;
    }
    &.fade-leave-active {
      display: none;
      opacity: 0;
    }
  }

  .card-img {
    border-radius: 0;
  }
  .card-title {
    @include media-breakpoint-up(sm) {
      height: 5em;
      line-height: 1.3em;
    }
  }
  .timeago {
    color: gray;
  }
}


.loading-block {
  height: 100px;
  .load-more {
    border-radius: 50vh;
    // max-width: 300px;
  }
}
</style>
