<template lang="pug">
b-container.footer(fluid).py-2
  b-container
    b-row(align-v="center")
      b-col(sm)
        p.my-2.text-md-left 最毕设：全球毕业作品分享交流平台
      b-col(sm)
        p.my-2.text-md-center Copyright &copy; {{new Date().getFullYear()}} 最毕设. All rights reserved.
      b-col(sm)
        p.my-2.text-md-right 粤ICP备16012082号
</template>


<script>
export default {
  name: 'Footer'
}
</script>

<style scoped lang="scss">
.footer {
  background-color:  $gray-100;
  font-size: 0.75rem;

  p {
    color: $gray-600;
  }
}
</style>