<template lang="pug">

b-navbar.bar-article(v-if="$route.name == 'Article'").sticky-top
  b-container().px-0.px-sm-3
    b-col(cols="auto" offset-lg="1").px-0
      b-navbar-brand(to="/"): Logo(height="30")
b-navbar.bar-b(v-else toggleable="md").p-0
  b-container(fluid)
    b-navbar-toggle(target="nav_collapse").border-0.ml-auto.p-3
    b-collapse#nav_collapse(is-nav)
      b-navbar-nav
        b-nav-item(
          v-for="(name, type) of $global.lists" :key="type"
          /* :to="{ name: 'List', params: { type }}" */
          :href="`/list/${type}`"
        ) {{name}}
        b-nav-item(href="http://hello-up.com/" target="_blank") Helloup
      //- b-navbar-nav.ml-auto
      //-   b-nav-item(href="http://user.zuibishe.com/login") 登录
        //- b-nav-item-dropdown(right)
        //-   template(slot="button-content")
        //-     em 账号
        //-   b-dropdown-item 登录
        //-   b-dropdown-item 注册
</template>


<script>
import Logo from '@/components/Logo.vue'

export default {
  name: 'Header',
  components: {
    Logo
  }
}
</script>

<style scoped lang="scss">
.bar-article {
  height: 4em;
  box-shadow: 0 2px 2px transparentize(black, 0.96);
  background-color: white;
}

.bar-b {
  .nav-item {
    line-height: 2em;
    font-size: 12px;
  }
  .logo {
    height: 1.5em;
  }
}



@include media-breakpoint-down(sm) {
  .navbar-collapse {
    text-align: right;

    .nav-link{
      font-size: 1rem;
      padding-right: 1.2rem;
    }
  }
}
</style>