<template lang="pug">
  svg#logo(viewBox="0 0 280 100")
    defs
      filter#blur(x="-50%" y="-50%" width="1000%" height="1000%")
        feGaussianBlur(in="SourceGraphic" stdDeviation="5")
      linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="100%")
        stop#stop1(offset="0%")
        stop#stop2(offset="100%")
    clipPath#clip
      path(fill-rule="evenodd" d="M132.763 1.52l-9.511 31.322 19.31-.158c-2.088 7.62-4.07 15.035-6.075 22.346 5.632-.044 43.368-.353 43.368-.353-.74 5.744-5.164 9.627-13.506 9.696l-26.856.219c-3.62.028-5.889 1.52-7.093 5.304 0 0-3.895 13.951-4.97 17.338-1.894 5.976-7.699 8.07-13.628 8.12l8.58-29.996-26.588.216c-.046-5.723 6.519-10.266 13.769-10.323l15.436-.127 3.454-12.851-18.69.152 11.043-34.15c1.9-7.082 8.469-6.727 11.957-6.755zm1.407 21.594c2.642-9.804 9.96-8.862 16.282-8.93 3.446-.036 7.87-.073 7.87-.073l1.783-6.498c1.801-6.868 7.304-6.41 11.113-6.442l-3.568 12.864 10.491-.086c.045 5.242-5.422 8.85-9.947 8.887l-3.012.026-2.698 9.66 13.02-.106c-.56 5.811-5.592 9.519-13.614 9.584l-11.332.094 5.359-19.221c-7.074.057-15.367.188-21.747.24zM86.648 1.037L78.55 23.114l8.207-.09c.057 5.233-3.802 9.334-10.643 9.407l-10.186.11 7.99-22.344-20.873.226c-.046-4.11 4.349-9.071 10.995-9.143l22.608-.243zM38.232 58.513l2.476-8.475s-7.348.086-12.955.146c-3.342.036-4.062 1.366-4.397 2.394l-8.515 24.886 18.3-.62 2.52-9.39-14.257.153c2.78-6.709 5.549-8.972 10.96-9.031l5.868-.063zm59.77-18.777c.044 4.212-1.88 6.255-5.89 9.747C87.595 53.42 70.15 67.86 70.15 67.86l15.223 25.984c-8.451 1.67-13.06-2.025-16.682-7.31-3.538-5.163-8.182-13.47-8.182-13.47-1.657-4.645-.966-8.99 2.548-11.978 6.02-5.114 15.163-11.504 15.163-11.504s-20.169.268-21.563.284c-4.342.046-6.5 2.49-7.193 5.114-1.453 5.499-6.094 21.751-6.094 21.751l12.284-.409c-.55 3.869-3.028 8.349-9.378 9.212-2.28.311-5.585.508-5.585.508l-2.319 7.381c-1.29 4.668-7.556 6.525-12.208 6.576l4.315-13.846-27.908.722 11.822-36.554-14.39.155c-.198-6.786 8.664-9.778 15.575-9.853l27.88-.3 2.228-7.744-19.273.208c2.946-10.488 5.588-18.22 6.96-22.702 1.931-6.314 7.781-7.91 12.88-7.964l-6.725 21.412 19.01-.203-4.907 16.883c14.305-.154 30.679-.332 44.371-.478zM280 0s-5.107 14.547-7.365 20.796c-1.034 2.865-2.06 4.608.013 7.304 5.53 7.19 2.73 12.396.822 15.142-7.586 10.94-13.852 20.43-13.852 20.43l18.976 31.14c-7.574.18-13.792-2.414-16.129-5.97-3.412-5.204-8.66-13.879-12.526-21.687-.996-2.011-.745-6.782.423-8.7 3.412-5.603 8.269-12.094 12.192-17.374 1.959-2.638 3.758-6.445-.038-10.308-2.562-2.61-.74-6.94.162-9.319 1.768-4.657 4.355-12.43 4.355-12.43h-7.472c-5.104 0-6.806 5.18-8.456 10.947-2.19 7.66-5.05 10.097-7.749 13.199-1.597 1.832-5.05 5.622-3.091 11.2 5.475 15.62 1.647 19.857-1.416 25.158-3.46 5.995-6.11 10.412-12.056 18.195-3.555 4.654-8.053 6.65-16.763 5.989 4.866-6.638 15.636-21.31 19.674-28.04 4.352-7.256 2.974-14.489 1.304-18.658-2.666-6.663-1.847-11.723.99-15.164 1.004-1.212 5.27-5.689 6.603-7.611 2.245-3.235 4.089-7.952 5.688-13.304C246.496 3.547 251.308 0 256.901 0H280zm-78.484 51.379l-10.027 31.02 9.637-.033s4.968-15.346 6.805-21.64c1.794-6.719 6.2-9.347 12.634-9.347l-11.278 36.066c-1.206 3.116-2.815 4.193-6.885 4.193l-24.169.765s8.986-27.105 11.497-35.082c1.793-4.033 5.175-5.942 11.786-5.942zm23.649-14.698c-1.569 6.563-5.648 9.118-13.532 9.118h-18.98c.785-4.543 4.111-9.13 10.552-9.13 3.993 0 21.96.012 21.96.012zm-30.829-5.493c1.276-6.018 5.238-9.245 9.806-9.245 3.897 0 28.047.05 28.047.05-.58 3.906-4.476 9.195-10.339 9.195h-27.514zm9.075-16.289c.242-6.753 4.27-9.085 11.228-9.085h19.01c-.419 3.982-1.831 9.065-8.808 9.082l-21.43.003z")
    svg#objects
      rect#background(width="100%" height="100%" fill="url(#gradient)")
      circle.object.a(filter="url(#blur)")
      circle.object.b(filter="url(#blur)")
      circle.object.c(filter="url(#blur)")
      circle.object.d(filter="url(#blur)")
      circle.object.e(filter="url(#blur)")
</template>

<script>
export default {
  name: 'Logo2'
}
</script>

<style lang="scss" scoped>
#logo {
}

#stop1 {
  stop-color: #008cff;
}
#stop2 {
  stop-color: #3700ff;
}

#objects {
  clip-path: url(#clip);
}





@keyframes spin {
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg)}
}

@mixin transforms($size, $left, $right, $leftOffset, $rightOffset) {
  r: $size;
  transform-origin: $left $right;
  cx: $left + $leftOffset;
  cy: $right + $rightOffset;
}

.object.a {
  fill: rgb(166, 255, 0);
  @include transforms(60, 70%, 60%, 10, 0);
  animation-duration:  8s;
}
.object.b {
  fill: rgb(0, 255, 242);
  @include transforms(50, 40%, 40%, 5, 0);
  animation-duration:  4s;
}
.object.c {
  fill: rgb(94, 255, 0);
  @include transforms(40, 80%, 80%, 5, 10);
  animation-duration:  2s;
}
.object.d {
  fill: rgb(255, 234, 42);
  @include transforms(60, 20%, 50%, 20, 10);
  animation-duration:  12s;
}
.object.e {
  fill: rgb(0, 255, 255);
  @include transforms(60, 50%, 50%, 40, 0);
  animation-duration:  10s;
}

.object {
  mix-blend-mode: soft-light;
  animation-name: spin;
  animation-duration:  5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



</style>
