<template lang="pug">
b-container.search().pt-5.pb-3
  b-row
    b-col
      b-link(href='/'): Logo(height="50").my-5
  b-row
    b-col(cols=12)
      b-form(@submit="submitSearch")
        b-input-group
          b-form-input(v-model="inputValue" type="text" placeholder="" :disabled="!!error")
          b-input-group-append
            b-button(type="submit" variant="light" :disabled="!!error")
              v-icon(name="search")
  b-row
    b-col.topkeys(cols="12" v-if="!error").my-2
      span.title.ml-0 热门搜索：
      b-form-radio-group(
        :options='topKeys' v-model='keyword'
        size='sm' buttons button-variant="link"
      )
  b-row.filter-alert(align-v="center")
    b-col(cols="auto").mx-auto
      b-alert(
        :show="!!keyword" @dismissed="keyword=null" 
        variant="info" dismissible fade
      ).m-0.py-1.pl-4.pr-5
        | 正在显示&nbsp;
        strong {{keyword}}
        | &nbsp;的搜索结果
        
</template>

<script>
import Logo from '@/components/Logo.vue'

export default {
  name: 'Search',
  components: {
    Logo
  },
  props: {
  },
  data () {
    return {
      inputValue: '',
      topKeys: [],
      keyword: null,
      error: null
    }
  },
  methods: {
    submitSearch () {
      event.preventDefault()
      this.keyword = String(this.inputValue)
    },
    resetSearch () {
      this.keyword = null
    },
    requestTopKeys () {
      this.$http.get('/s/hotkeys')
        .then(response => {
          this.topKeys = response.data.map( x => {
            return { text: x.key, value: x.key }
          }).slice(0, 5)
        })
        .catch(error => {
          this.error = error
        })
    }
  },
  mounted () {
    this.requestTopKeys()
  },
  watch: {
    keyword(value) {
      this.inputValue = value
      this.$emit('handleSearch', value)
    }
  }
}
</script>

<style scoped lang="scss">
.search {
  max-width: map-get($grid-breakpoints, 'sm');

  form {

    .input-group {
      border: 2px solid black;

      input {
        border: none;
      }
      button {
        background-color: transparent;
        border: none;
        width: 2.75rem;
        height: 100%;
        &:hover {
          background-color: black;
          color: white;
          &:active {
            background-color: $gray-800;
          }
        }
      }
    }

  }
  
  .topkeys {
    /deep/ .title {
      font-size: 0.75rem;
      color: hsl(0, 0, 50);
    }
    /deep/ label {
      font-size: 0.75rem;
      color: black;
    }
  }

  .filter-alert {
    height: 5rem;
    .alert {
      border-radius: 2em;
      /deep/ .close {
        padding: 0.25rem 0.75rem;
    }
    }
  }
}

</style>

