<template lang="pug">
#app
  //- BreakpointDisplay
  router-view
  Footer
  vue-progress-bar
</template>

<script>
import Footer from '@/components/Footer.vue'
// import BreakpointDisplay from '@/components/utils/BreakpointDisplay.vue'

export default {
  components: {
    Footer,
    // BreakpointDisplay
  },
  created () {    
    if (this.$route.name) {
      this.$Progress.start()
    }
    this.$router.beforeEach((to, from, next) => {
      if (to.meta.title) document.title = to.meta.title
      this.$Progress.start() 
      next()
    })
    this.$global.lists = {
      '500x2016': '全球毕业展专辑',
      '90x100': '新青年'
    }
  }
}
</script>


<style lang="scss">
@import '~bootstrap/scss/bootstrap.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

::selection {
  background-color: $primary;
  color: white;
}

button:focus {
  outline: none;
}
</style>
