<template>
  <div class="breakpoint-display"></div>
</template>


<script>
export default {
  name: 'BreakpointDisplay'
}
</script>

<style lang='scss'>
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

.breakpoint-display:after {
  color: #000;
  font-family: Helvetica;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
  right: 10px;
  position: fixed;
  text-align: center;
  bottom: 10px;
  width: 100px;
  z-index: 9999;
  background: #c0c0c0;
  border: solid 1px #000;
  
  @each $name, $value in $breakpoints {
    @media screen and (min-width: $value) {
      content: '#{$name} - #{$value}';
    }
  }
}

.breakpoint-display:hover ~ * [class*='col-'] { 
    background-color: transparentize(yellow, 0.75);
    box-shadow: inset 0 0 0 1px transparentize(blue, 0.75);
}

</style>
